@font-face {
  font-family: 'Pokemon GB';
  src: url('/Pokemon-GB.ttf') format('truetype');
}

:root {
  font-family: 'Pokemon GB', monospace;
  font-weight: 400;
  color: #000;
  background-color: #F9F9F9;
  font-smooth: never;
  -webkit-font-smoothing: none;
  image-rendering: pixelated;
  overflow: hidden;
}

:root[data-theme='dark'] {
  filter: invert(0.95);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}